APP_PORT=
AUSPOST_BASE_URL=
AUSPOST_API_KEY=
AUSPOST_API_PASSWORD=
AUSPOST_ACCOUNT_NUMBER=
STARTRACK_ACCOUNT_NUMBER=
AUSPOST_SAME_DAY_ACCOUNT_NUMBER=
TNT_WEBLINK_USERNAME=
TNT_WEBLINK_PASSWORD=
TNT_UAT_USERNAME=
TNT_UAT_PASSWORD=
TNT_UAT_ACCOUNT_NUMBER=
